---
title: "Goldbar Games"
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: banner2016.jpg
  cta_label: "About Us"
  cta_url: "/team/"
  # caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Independent Game Developer"
intro:
  - excerpt: 'Welcome to the official Goldbar Games website!'
feature_row:

 - title: "Witch Doctor Kaneko"
   url: "/witch-doctor-kaneko/"
   btn_label: "Learn More"
   excerpt: "Cast spells to fix the environment in this magical puzzle-platformer!"
   image_path: "thumb1.jpg"
   alt: "Witch Doctor Kaneko"
   
 - title: "Vote for Detective Butler on Steam Greenlight!"
   url: "http://steamcommunity.com/sharedfiles/filedetails/?id=860939557"
   btn_label: "Vote YES!"
   excerpt: "Follow Butler and Gilligan on their latest misadventure!"
   image_path: "steam_btn.png"
   alt: "Vote for Detective Butler on Steam Greenlight"
   
 - title: "Detective Butler 2"
   url: "/detective-butler/butler2/"
   btn_label: "Coming Soon"
   excerpt: "Follow Butler and Gilligan on their latest misadventure!"
   image_path: "thumb2.jpg"
   alt: "Detective Butler 2"

---

{% include feature_row id="intro" type="center" %}
{% include feature_row %}


