---
title: "Goldbar Games"
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: banner2016.jpg
  cta_label: "About Us"
  cta_url: "/team/"
  # caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Independent Game Developer"
intro: 
  - excerpt: 'Welcome to the official Goldbar Games website!'
feature_row:
  - image_path: unsplash-gallery-image-1-th.jpg
    alt: "image 1"
    title: "a"
    excerpt: "b"
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: unsplash-gallery-image-2-th.jpg
    alt: "image 2"
    title: "Placeholder 2"
    excerpt: "Here's a post!"
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: unsplash-gallery-image-3-th.jpg
    alt: "image 3"
    title: "Placeholder 3"
    excerpt: "Here's a post!"
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
    
latest_post:
  - image_path: unsplash-gallery-image-2-th.jpg
    alt: "placeholder for latest post"
    title: "placeholder for latest post"
    excerpt: 'Read the latest post here!'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
---
{% include base_path %}

<h1 align="center">Welcome to the official Goldbar Games website!</h1>
<h2 class="archive__subtitle">Recent Updates</h2>
{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
