html {
  background-image: url(bg-black.jpg);
}

a {
  text-decoration: none;
}

table {
  display: table;
}

thead {
  background-color: #494e52;
}

tr,
td,
th{
  text-align: center;
}
.masthead {
  border-bottom-color: #484848;
}

.masthead {
  background-color: $background-color;
}

.page__footer {
  background-image: url(bg-gray.jpg)
}

.page__footer {
  border-top: 1px solid $border-color;
}

.feature__wrapper {
  margin-bottom: 0;
}

.greedy-nav {
  a {
    &.site-title {
      margin-left: 1rem;
    }
  }
  .visible-links {
    justify-content: center;
  }
}

.page, .splash, .archive, .search-content__inner-wrap {
  background-color: $article-page-color;
  border-radius: 10px;
  padding: 1em;
  margin-top: 1em;
}

.page, .archive, .page__related {
  width: 100%;
  float: right;
}

article {
  img + img {
    margin-top: 1em;
  }
}
  
.center-image {
  margin: 0 auto;
  display: block;
}

ul.latest-posts {
  time {
    display: block;
    font-size: $type-size-8;
  }

  list-style-type: none;
  padding: 0;
}

table.tablesaw {
  img {
    margin: auto;
    display: block;
  }
  h3 {
    font-size: 1.2em;
  }
}

#mc_embed_signup {
  margin-top: 1em;
}

iframe {
  max-width: 100%;
}