<h2 class="text-center">{{include.title}}</h2>
<table class="tablesaw tablesaw-stack" data-tablesaw-mode="stack">
  <tr>
    <thead>
      <th>Game</th>
      <th>Information</th>
    </thead>
  </tr>
  {% for item in site.data[include.collection] %}
    <tr>
      <td>
        <a href="{{item.link | absolute_url}}">
          <img src="{{item.image | absolute_url }}" alt="{{item.title}}">
        </a>
      </td>
      <td>
        <p>{{item.description}}</p>
        <p><strong>Genre:</strong> {{item.genre}}</p>
        <p><strong>Platforms:</strong> {{item.platforms}}</p>
        <p><strong>Release Date:</strong> {{item.releaseDate}}</p>
      </td>
    </tr>
  {% endfor %}
</table>
